
<div ng-controller="Home.IndexController">
    <div class="col-md-12">
        <h2>Agenda de serviços</h2>
        <hr class="my-4">
        <p>Selecione um serviço e agende um horario!</p>
    </div>
    <div class="row">
        <div class="col-md-6">
            <p><a href="#/login">Sair</a></p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12" >
            <form role="form" ng-submit="vm.cadastrar()">
                <div class="form-group" >
                    <label>Parceiro</label>
                    <select name="nomeParceiro" class="form-control" ng-model="vm.parceiroSelecionado" ng-change="vm.servicos(vm.parceiroSelecionado)">
                        <option ng-repeat="s in parceiros" value="{{s.id}}">{{s.name}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Servicos</label>
                    <select name="nomeServico" class="form-control" ng-model="vm.setorSelecionado" ng-change="vm.profissionais(vm.setorSelecionado)">
                        <option ng-repeat="s in servicos" value="{{s.id}}">{{s.name}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Profissional</label>
                    <select name="nomeProfissional" class="form-control" ng-model="vm.profissionalSelecionado">
                        <option ng-repeat="s in profissionais" value="{{s.id}}">{{s.name}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Data</label>
                    <input class="form-control" type="text" ng-model="vm.startDate"/>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-default">Agendar</button>
                </div>
            </form>
        </div>
        <div class="col-md-12" >
            <div ng-repeat="a in vm.agenda">
                <div class="col-md-12">
                    <span><strong>{{a.serviceName}}</strong> - {{a.startDate}}</span></br>
                </div>
            </div>
        </div>
    </div>
        
    

</div>